html {
    height: 100%;
    font-family: sans-serif;
    font-weight: normal;/*lighter;*/
    font-size: large;
}

body {
    margin: 0;
    height: 100%;
}

#wrap {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; 
}

#left_col {
    padding: 0;
    width: 20em;
    background: #6FBEDA;
    border-right: 0.15em solid #33A1C9;
    vertical-align: top;
}

#left_col_content {
    padding: 1em;
    color: white;
}

#logo {
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 140%;
    background: #50B0D0;
    border-bottom: 0.15em solid #33A1C9;
    color: white;
    font-weight: bold;
}

#right_col {
    vertical-align: top;
}

#right_col_content {
    padding: 1.5em;
}

#bottom_bar {
    padding: 0.5em;
    font-family: sans-serif;
    background: #50B0D0;
    border-top: 0.15em solid #33A1C9;
    color: white;
}

input[type=text] {
    padding: 0.25em;
    height: 1em;
    background: white;
    border: 0.1em solid #33A1C9;
    border-radius: 0.25em;
    font-size: large;
}

input[type=button] {
	display: block;
	background: white;
	border: 0;/*0.15em solid #33A1C9;*/
	font-size: large;
	border-radius: 0.25em;
	box-shadow: 0 0.2em 0 #33A1C9;
}
td.bottom {
	width: 50%;
}
