html {
    height: 100%;
    font-family: sans-serif;
    font-weight: normal;/*lighter;*/
    font-size: large;
}

body {
    margin: 0;
    height: 100%;
}

#wrap {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; 
}

#left_col {
    padding: 0;
    width: 16em;
    background: #6FBEDA;
    border-right: 0.15em solid #33A1C9;
    vertical-align: top;
}

#left_col_content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: white;
}

#logo {
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 140%;
    background: #50B0D0;
    border-bottom: 0.15em solid #33A1C9;
    color: white;
    font-weight: bold;
}

#right_col {
    vertical-align: top;
}

#right_col_content {
    padding: 0.5em;
	visibility: hidden;
}

#bottom_bar {
    padding: 0.5em;
    font-family: sans-serif;
    background: #50B0D0;
    border: 0.15em solid #33A1C9;
    color: white;
}

#right_bar {
    padding: 0.5em;
    font-family: sans-serif;
    background: #50B0D0;
    /*border: 0.15em solid #33A1C9;*/
    color: white;
}

input[type=text] {
    padding: 0.25em;
    height: 1em;
    background: white;
    border: 0.1em solid #33A1C9;
    border-radius: 0.25em;
    font-size: large;
}

input[type=button], input[type=reset] {
	display: block;
	background: white;
	border: 0;/*0.15em solid #33A1C9;*/
	font-size: large;
	border-radius: 0.25em;
	box-shadow: 0 0.2em 0 #33A1C9;
}
.pair {
	width: 50%;
}
.graph_pair {
	width: 50%;
	text-align: center;
}

.bottom {
	width: 33%;
}

input[type=number] {
	background: white;
	width: 4em;
	border: 0.1em solid #33A1C9;
	border-radius: 0.25em;
}

.styled-select select {
	background: white;
	border: 0.1em solid #33A1C9;
	font-size: 100%;
	border-radius: 0.25em;
}

#wait_popup {
	position: fixed;
	visibility: hidden;
	left: 40%;
	top: 40%;
	width: 20%;
	height: 20%;
    background: #6FBEDA;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}

#data_popup {
	position: fixed;
	visibility: hidden;
	left: 25%;
	top: 10%;
	width: 50%;
	height: 80%;
    background: #317ADE;
	border: 0.1em solid #63A1C9;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}

/*#table {
	width: 100%;
}*/

#probdiv {
	padding-left:1.2em
}

.graphs {
	width: 70%;
	height: 100%;
	text-align: center;
	padding: 0.5em
}

.legend {
    width: 16em;
	height: 100%;
	text-align: center;
	padding: 0.5em;
    background: #50B0D0;
    border: 0.15em solid #33A1C9;
}
graphup {
	padding: 1em;
}
#numberdiv {
	padding-left:1.7em
}
#element {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
