html {
    height: 100%;
    font-family: sans-serif;
    font-weight: normal;/*lighter;*/
    font-size: large;
}

body {
    margin: 0;
    height: 100%;
}

table {
    border-collapse: collapse;
}

#wrap {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; 
}

#left_col {
    padding: 0;
    width: 16em;
    background: #6FBEDA;
    border-right: 0.15em solid #33A1C9;
    vertical-align: top;
}

#logo {
    padding: 0.5em;
    font-family: sans-serif;
    font-size: 140%;
    background: #50B0D0;
    border-bottom: 0.15em solid #33A1C9;
    color: white;
    font-weight: bold;
}

#left_col_content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: white;
}

#element {
	padding: 0.5em;
	text-align: left;
}

#right_col {
    vertical-align: top;
}

#right_col_content {
    padding: 1em;
	visibility: hidden;
    height: 100%;
}

#wrap2 {
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; 
}

#graphs {
	width: 40em;
	height: 100%;
	text-align: center;
	padding: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
}

#graphup {
    height: 50%;
	/*height: 18.5em;*/
}

#graphdown {
    height: 50%;
	/*height: 18.5em;*/
}

#right_bar {
    width: 16em;
	height: 100%;
	text-align: center;
    background: #50B0D0;
    border: 0.15em solid #33A1C9;
    vertical-align: top;
    padding: 0;
}

#right_bar_content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: white;
}
#yaxis {
	width: 4em;
	text-align: right;
	line-height: 1.35em;
    vertical-align: top;
}

/*#bottom_bar {			/*not used with right_bar* /
    padding: 0.5em;
    font-family: sans-serif;
    background: #50B0D0;
    border: 0.15em solid #33A1C9;
    color: white;
}*/

input[type=text] {
    padding: 0.25em;
    height: 1em;
    background: white;
    border: 0.1em solid #33A1C9;
    border-radius: 0.25em;
    font-size: large;
}

input[type=button], input[type=reset] {
	display: block;
	background: white;
	border: 0;/*0.15em solid #33A1C9;*/
	font-size: large;
	border-radius: 0.25em;
	box-shadow: 0 0.2em 0 #33A1C9;
}

input[type=number] {
	background: white;
	width: 4em;
	border: 0.1em solid #33A1C9;
	border-radius: 0.25em;
}

#E_precision {
	background: white;
	width: 8em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 0.1em solid #33A1C9;
	border-radius: 0.25em;
}

.styled-select select {
	background: white;
	border: 0.1em solid #33A1C9;
	font-size: 100%;
	border-radius: 0.25em;
}

#pair {
	width: 50%;
}

#wait_popup {
	position: fixed;
	visibility: hidden;
	left: 40%;
	top: 40%;
	width: 20%;
	height: 20%;
    background: #6FBEDA;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}

#data_popup {
	position: fixed;
	visibility: hidden;
	top: 1.1em;
	width: 37em;
    height: 90%;
	/*height: 38em;*/
    background: #6FBEDA;
	border: 0.1em solid #63A1C9;
	padding: 1em;
	text-align: center;
	vertical-align: middle;
}
#data_table {
	/*visibility: hidden;*/
	width: 98%;
    max-width: 98%;
	height: 80%;
	/*height: 54em; 
    max-height: 54em;*/
}

table {
	width: 100%;
}

#probdiv {
	padding-left:1.2em
}

#numberdiv {
	padding-left:1.7em
}
